<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Martijn van der Ven</string>
	<key>Builder Version</key>
	<string>9537.71</string>
	<key>CFBundleDisplayName</key>
	<string>Safari Search Switcher</string>
	<key>CFBundleIdentifier</key>
	<string>net.zegnat.safarisearchswitcher</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>app.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Quick and painlessly change the default search engine.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict/>
	</dict>
	<key>Website</key>
	<string>https://github.com/Zegnat/safari-search-switcher</string>
</dict>
</plist>
